@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-brand-dark;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  @apply cursor-pointer;
  outline: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-brand-dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-brand-secondary;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply cursor-pointer;
}
